*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ 
width: 100%;
overflow-x: hidden;
}

body{
    background-color:lightgoldenrodyellow;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: maroon;
    border-radius: 0;
    border: 0;
}

.nav-brand{
    margin: 5px;
    display: inline-block;
}

.btn{
    display: inline;
    padding: 0px 0px;
}

h1{
    text-align: left;
    font-size: 3vw;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    color:whitesmoke;
}

.navbar-toggle{
background-color: whitesmoke;
}

#nav-list{
    margin-top:7px;
    margin-bottom: 5px;
}

#nav-list a{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#nav-list a:hover{
    background-color: lightgoldenrodyellow;
    color:maroon;
}

#page-name{
    text-decoration: none;
    color: whitesmoke;
}

#heading1{
color: black;
}

h3{
margin-top: 3%;
margin-bottom: 2%;
}

h2,h3,#end-quote{
    font-family:Arial, Helvetica, sans-serif; 
}
.fact,#end-quote{
    font-family: cursive;
}

.main-heading{
    font-weight: bold;
}

.sub-mean-heading{
   margin-top: 25px;
   font-size: 1.4em;
}

.commissioned,.junior-commissioned,.non-commissioned,.soliders{
    margin-top: 20px;
    margin-bottom: 10px;
}
.name{
margin-top: 10px;
margin-left: 0px;
font-size: 1.2em;
}

.Rank-logo{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;  
    overflow: hidden;
}


#Admiral-of-the-fleet-1{
    background: url(../project_images/50px-IN_Admiral_of_the_Fleet_NAVY_Shoulder_curl.png) no-repeat;
    background-position: center;
}

#Admiral-of-the-fleet-2{
    background: url(../project_images/50px-IN_Admiral_of_the_Fleet_NAVY_Sleeves_curl.png) no-repeat;
    background-position: center;
}

#Admiral-1{
    background: url(../project_images/50px-14-Indian_Navy-Admiral_shoulder.png) no-repeat;
    background-position: center;
}

#Admiral-2{
    background: url(../project_images/Admiral_of_Indian_Navy_sleeves_OF-9.png) no-repeat;
    background-position: center;
}

#Vice-admiral-1{
    background: url(../project_images/50px-13-Indian_Navy-Vice_ADM_shoulder.png) no-repeat;
    background-position: center;
} 

#Vice-admiral-2{
    background: url(../project_images/Vice_ADM_of_Indian_Navy_sleeves_OF-8.png) no-repeat;
    background-position: center;
} 

#Rear-admiral-1{
    background: url(../project_images/50px-12-Indian_Navy-Rear_ADM_shoulder.png) no-repeat;
    background-position: center;
}

#Rear-admiral-2{
    background: url(../project_images/Rear_ADM_Navy_sleeves_OF-7.png) no-repeat;
    background-position: center;
}

#Commodore-1{
    background: url(../project_images/50px-11-Indian_Navy-Commodore_shoulder.png) no-repeat;
    background-position: center;
}

#Commodore-2{
    background: url(../project_images/Commodore_navy_sleeves_OF-6.png) no-repeat;
    background-position: center;
}

#Captain-1{
    background: url(../project_images/50px-10-Indian_Navy-Captain_Shoulder.png) no-repeat;
    background-position: center;
}

#Captain-2{
    background: url(../project_images/50px-Captain_Navy_sleeves_OF-5.png) no-repeat;
    background-position: center;
}

#Commander-1{
    background: url(../project_images/50px-09-Indian_Navy-Commander_shoulder.png) no-repeat;
    background-position: center;
}

#Commander-2{
    background: url(../project_images/Commander_Navy_sleeves_OF-4.png) no-repeat;
    background-position: center;
}

#Lieutenant-commander-1{
    background: url(../project_images/50px-08-Indian_Navy-Lieutenant_commander_shoulder.png) no-repeat;
    background-position: center;
}

#Lieutenant-commander-2{
    background: url(../project_images/Lieutenant_Commander_Navy_sleeves_OF-3.png) no-repeat;
    background-position: center;
}

#Lieutenant-1{
    background: url(../project_images/50px-07-Indian_Navy-Lieutenant_Shoulder.png) no-repeat;
    background-position: center;
}

#Lieutenant-2{
    background: url(../project_images/Lieutenant_Navy_sleeves_OF-2.png) no-repeat;
    background-position: center;
}

#Sub-lieutenant-1{
    background: url(../project_images/50px-06-Indian_Navy-Sub_Lieutenant_shoulder.png) no-repeat;
    background-position: center;
}

#Sub-lieutenant-2{
    background: url(../project_images/Sub_Lieutenant_Navy_sleeves_OF-1.png) no-repeat;
    background-position: center;
}

#Master-chief-petty-officer-1{
    background: url(../project_images/50px-India-Navy-OR-9-Master_Chief_petty_1st.png) no-repeat;
    background-position: center;
}

#Master-chief-petty-officer-2{
    background: url(../project_images/50px-India-Navy-OR-8-Master_Chief_petty_2.png) no-repeat;
    background-position: center;
}

#Chief-petty-officer{
    background: url(../project_images/50px-India-Navy-OR-7-Chief_petty.png) no-repeat;
    background-position: center;
}

#Petty-officer{
    background: url(../project_images/PO_Indian_Navy.OR-6_petty.png) no-repeat;
    background-position: center;
}

#Leading-seaman{
    background: url(../project_images/Leading_Seaman_Indian_Navy.png) no-repeat;
    background-position: center;
}


#copy{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width: 767px){
   
    .panel-footer section{ 
        margin-bottom: 30px;
        text-align: center;
    }

    .nav-brand{
        margin: 8.5px;
        display: inline-block;
    }
}

@media(max-width:767px){
    h1{
        font-size: 6vw;
    }

    #heading1{
        margin-left: 5px;
        margin-right: 5px;
        font-size: xx-large;
    }

    .navbar-toggle{
        margin-top: 10px;
    }
}
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 1.2em;
    background-color: #5B7742;
    color: lightgoldenrodyellow;
    border-top: 0;
}

#end-quote{
    font-size: 1.4em;
}

.social-menu ul{
position: absolute;
left: 50%;
padding: 0px;
margin-top: 0px;
text-align: center;
transform: translate(-50%,-50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
} 

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10px);
}
 
.social-menu ul li:nth-child(1) a:hover{
    background-color:#e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color:#3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color:#55acee;
}