*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
width: 100%;
overflow-x: hidden;
}
body{
    background-color:lightgoldenrodyellow;
    font-family: 'Oxygen', sans-serif;
}
 
#header-nav{
    background-color: orange;
    border-radius: 0; 
    border: 0;
}

.nav-brand{
    margin: 5px;
    display: inline-block;
}

.btn{
    display: inline;
    padding: 0px 0px;
}

h1{
    text-align: left;
    font-size: 3vw;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    color:whitesmoke;
}

.navbar-toggle{
background-color: whitesmoke; 
}

#nav-list{
    margin-top:7px;
    margin-bottom: 5px;
}

#nav-list a{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#nav-list a:hover{
    background-color: lightgoldenrodyellow;
    color:orange;
    /*font-size: 1.4em;*/
}

#page-name{
    text-decoration: none;
    color: whitesmoke;
}

#end-quote{
    font-family: cursive;
}

.blog-banner{
    margin-top: 15px;
}

.banner-2 , .banner-3{
    margin-top: 35px;
}
.blog-banner img{ 
    width: 100%;
}

.single-blog{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}

/*.card{
    transition: 0.5s ease;
    cursor: pointer;
}*/

.single-blog img{
    width: 100%;
}

.blog-meta{
    font-size: 14px;
    margin-bottom: 2px;
}

.single-blog span{
    float: right;
    font-size: 12px;
    color: cornflowerblue;
}

.blog-text{
    font-size: 14px;
    text-align: justify;
}

.single-blog h2{
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
}

.single-blog h2 a{
   text-decoration: none;
}

.read-more-btn{
    background-image: linear-gradient(to right,#1c03b5,#5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none !important;
}

.read-more-btn:hover{
    background-image: linear-gradient(to right,#006417,#00b128);
    text-decoration: none;
    color: #fff;
}

/*.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(94, 72, 72, 0.2);
}*/



















@media(max-width: 767px){

    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;
    }

    .nav-brand{
        margin: 8.5px;
        display: inline-block;
    }
}

@media(max-width:767px){
    h1{
        font-size: 6vw;
    }
    
    .navbar-toggle{
        margin-top: 10px;
    }
}
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 1.2em;
    background-color:rgb(115, 207, 22);
    color: lightgoldenrodyellow;
    border-top: 0;
}

#end-quote{
    font-size: 1.4em;
}

.social-menu ul{
position: absolute;
left: 50%;
padding: 0px;
margin-top: 0px;
text-align: center;
transform: translate(-50%,-50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
} 

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color:#e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color:#3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color:#55acee;
}