*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
width: 100%;
overflow-x: hidden;
}

body{
    background-color:lightgoldenrodyellow;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: orange;
    border-radius: 0;
    border: 0;
}

.nav-brand{
    margin: 5px;
    display: inline-block;
}

.btn{
    display: inline;
    padding: 0px 0px;
}

h1{
    text-align: left;
    font-size: 3vw;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    color:whitesmoke;
}
 
.jai-hind{
    color:black;
    text-align: center;
}

.navbar-toggle{
background-color: whitesmoke;
}

.name , #nav-list{
    margin-top:7px;
    margin-bottom: 5px;
}

#nav-list a{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#nav-list a:hover{
    background-color: lightgoldenrodyellow;
    color: orange;
    /*font-size: 1.4em;*/
}

/*#active1{
    background-color: lightgoldenrodyellow;
    color: orange;
}*/

#page-name{
    text-decoration: none;
    color: whitesmoke;
}

h2,#end-quote{
    font-family:Arial, Helvetica, sans-serif; 
}

#end-quote{
    font-family: cursive;
}

#copy{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0;
    padding: 0; 
    text-align: center;
    background: lightgoldenrodyellow;
    background-size: cover;
    background-position: center;
}

.contact-title{
    margin-top: 100px;
    color:black;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2{
    font-size: 16px;
}

.contact-title #error_messsage{
    margin-bottom: 20px;
    padding: 10px;
    background:lightgoldenrodyellow;
    text-align: center;
    font-size: 14px;
    transition: all 4s ease-in-out;
}

.submission-form{
    text-align: -webkit-center;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}
 
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}

@media(max-width: 767px){
   
    .panel-footer section{ 
        margin-bottom: 30px;
        text-align: center;
    }

    .nav-brand{
        margin: 8.5px;
        display: inline-block;
    }
}

@media(max-width:767px){
    h1{
        font-size: 6vw;
    }

    .navbar-toggle{
        margin-top: 10px;
    } 
}

@media(max-width:767px){
    .form-control{
        width: 310px;
    }
}

.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 1.2em;
    background-color: rgb(115, 207, 22);
    color: lightgoldenrodyellow;
    border-top: 0;
}

#end-quote{
    font-size: 1.4em;
}

.social-menu ul{
position: absolute;
left: 50%;
padding: 0px;
margin-top: 0px;
text-align: center;
transform: translate(-50%,-50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
} 

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color:#e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color:#3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color:#55acee;
}

