*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ 
width: 100%;
overflow-x: hidden;
}

body{
    background-color:lightgoldenrodyellow;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: maroon;
    border-radius: 0;
    border: 0;
}

.nav-brand{
    margin: 5px;
    display: inline-block;
}

.btn{
    display: inline;
    padding: 0px 0px;
}

h1{
    text-align: left;
    font-size: 3vw;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    color:whitesmoke;
}

.navbar-toggle{
background-color: whitesmoke;
}

#nav-list{
    margin-top:7px;
    margin-bottom: 5px;
}

#nav-list a{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#nav-list a:hover{
    background-color: lightgoldenrodyellow;
    color:maroon;
}

#page-name{
    text-decoration: none;
    color: whitesmoke;
}

#heading1{
color: black;
}

h3{
margin-top: 3%;
margin-bottom: 2%;
}

h2,h3,#end-quote{
    font-family:Arial, Helvetica, sans-serif; 
}
.fact,#end-quote{
    font-family: cursive;
}

.main-heading{
    font-weight: bold;
}

.sub-mean-heading{
   margin-top: 25px;
   font-size: 1.4em;
}

.commissioned,.junior-commissioned,.non-commissioned,.soliders{
    margin-top: 20px;
    margin-bottom: 10px;
}
.name{
margin-top: 10px;
margin-left: 0px;
font-size: 1.2em;
}

.Rank-logo{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative; 
    overflow: hidden;
}


#Marshal-IAF{
    background: url(../project_images/100px-India-AirForce-OF-10-Marshal.png) no-repeat;
    background-position: center;
}

#Air-Chief-Marshal{
    background: url(../project_images/100px-India-AirForce-OF-9-Air-Chief-Marshal.png) no-repeat;
    background-position: center;
}

#Air-Marshal{
    background: url(../project_images/100px-India-AirForce-OF-8-Air-Marshal.png) no-repeat;
    background-position: center;
} 

#Air-Vice-Marshal{
    background: url(../project_images/100px-India-AirForce-OF-7-Air-Vice-Marshal.png) no-repeat;
    background-position: center;
}

#Air-Commodore{
    background: url(../project_images/100px-India-AirForce-OF-6-Air-Commodore.png) no-repeat;
    background-position: center;
}

#Group-Captain{
    background: url(../project_images/British_RAF_OF-Group-Captain.png) no-repeat;
    background-position: center;
}

#Wing-Commander{
    background: url(../project_images/British_RAF_OF-4-Wing-Commander.png) no-repeat;
    background-position: center;
}

#Squadron-Leader{
    background: url(../project_images/British_RAF_OF-3-Squadron-Leader.png) no-repeat;
    background-position: center;
}

#Flight-Lieutenant{
    background: url(../project_images/British_RAF_OF-2-Flight-Lieutenant.png) no-repeat;
    background-position: center;
}

#Flying-Officer{
    background: url(../project_images/British_RAF_OF-1b-Flying-Officer.png) no-repeat;
    background-position: center;
}

#Master-Warrant-Officer{
    background: url(../project_images/50px-India-Air-OR-9-Master-Warrant-Officer.png) no-repeat;
    background-position: center;
}

#Warrant-Officer{
    background: url(../project_images/50px-India-Air-OR-8-Warrant-Officer.png) no-repeat;
    background-position: center;
}

#Junior-Warrant-Officer{
    background: url(../project_images/50px-India-Air-OR-7-Junior-Warrant-Officer.png) no-repeat;
    background-position: center;
}

#Sergeant{
    background: url(../project_images/50px-IAF_Sergeant.png) no-repeat;
    background-position: center;
}

#Corporal{
    background: url(../project_images/50px-IAF_Corporal.png) no-repeat;
    background-position: center;
}

#Leading-Aircraftsman{
    background: url(../project_images/50px-IAF_Leading-Aircraftsman.png) no-repeat;
     background-position: center;
 }

#Aircraftsman{
   background: url(../project_images/50px-IAF_Aircraftsman.png) no-repeat;
    background-position: center;
}


#copy{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media(max-width: 767px){
   
    .panel-footer section{ 
        margin-bottom: 30px;
        text-align: center;
    }

    .nav-brand{
        margin: 8.5px;
        display: inline-block;
    }
}

@media(max-width:767px){
    h1{
        font-size: 6vw;
    }

    #heading1{
        margin-left: 5px;
        margin-right: 5px;
        font-size: xx-large;
    }

    .navbar-toggle{
        margin-top: 10px;
    }
}
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 1.2em;
    background-color: #5B7742;
    color: lightgoldenrodyellow;
    border-top: 0;
}

#end-quote{
    font-size: 1.4em;
}

.social-menu ul{
position: absolute;
left: 50%;
padding: 0px;
margin-top: 0px;
text-align: center;
transform: translate(-50%,-50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
} 

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s; 
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color:#e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color:#3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color:#55acee;
}