*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
width: 100%;
overflow-x: hidden;
}
body{
    background-color:lightgoldenrodyellow;
    font-family: 'Oxygen', sans-serif;
}
 
#header-nav{
    background-color: orange;
    border-radius: 0; 
    border: 0;
}

.nav-brand{
    margin: 5px;
    display: inline-block;
}

.btn{
    display: inline;
    padding: 0px 0px;
}

h1{
    text-align: left;
    font-size: 3vw;
    margin: 0;
    padding: 5px 0 5px 0;
    font-weight: bold;
    color:whitesmoke;
}

.navbar-toggle{
background-color: whitesmoke; 
}

.name , #nav-list{
    margin-top:7px;
    margin-bottom: 5px;
}

#nav-list a{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

#nav-list a:hover{
    background-color: lightgoldenrodyellow;
    color:orange;
    /*font-size: 1.4em;*/
}

#page-name{
    text-decoration: none;
    color: whitesmoke;
}

h2,h3,#end-quote{
    font-family:Arial, Helvetica, sans-serif; 
}
#quote,#end-quote{
    font-family: cursive;
}

h4,.name,#navy-logo,#army-logo,#airforce-logo,#copy{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*#heading2{
font-size: x-large;
}*/

#quote{
    margin-top: 7%;
}

h4{
    margin-right: 10px;
}

.pic{
    position: relative;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    align-content: center;
}
.pic-general-manoj-mukund-naravane{
    position: relative;
    margin-left: 70px;
    margin-right: 40px;
    border: 2px solid black;
}

.pic-indian-army{
    display: inline;
}

.about-indian-army{
    position: initial;
    margin-left: 0px;
    margin-right: 10px;
}

.pic-army{
    position: relative;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    align-content: center;
}

.pic-about-indian-army{
    position: relative;
    margin-left: 0px;
    margin-right: 21px;
    margin-bottom: 15px;
    border: 2px solid black;
}

.org{
margin-left: 15px;
margin-right: 10px;
}

#army-logo,#airforce-logo,#navy-logo,#life-style-army,#life-style-airforce,#life-style-navy,#ways-to-join-army,#ways-to-join-airforce,#ways-to-join-navy,#structure-army,#structure-navy,#structure-airforce{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

#army-logo:hover,#airforce-logo:hover,#navy-logo:hover,#life-style-army:hover,#ways-to-join-army:hover,#structure-army:hover,#life-style-airforce:hover,#ways-to-join-airforce:hover,#structure-airforce:hover,#life-style-navy:hover,#ways-to-join-navy:hover,#structure-navy:hover{
    box-shadow: 0 1px 5px 1px orange;
}

#army-logo{
    background:url(../project_images/logo_army.png) no-repeat;
    background-position: center;
}

#life-style-army{
    background:url(../project_images/life-style-army.jpg) no-repeat;
    background-position: center;
}

#ways-to-join-army{
    background:url(../project_images/ways-to-join-army.jpg) no-repeat;
    background-position: center;
}

#structure-army{
    background:url(../project_images/structure-army.jpg) no-repeat;
    background-position: center;
}

#navy-logo{
    background:url(../project_images/logo_navy.jpg) no-repeat;
    background-position: center;
}

#life-style-navy{
    background:url(../project_images/life-style-navy.jpg) no-repeat;
    background-position: center;
}

#ways-to-join-navy{
    background:url(../project_images/ways-to-join-navy.jpg) no-repeat;
    background-position: center;
}

#structure-navy{
    background:url(../project_images/logo_navy.jpg) no-repeat;
    background-position: center;
}

#airforce-logo{
    background:url(../project_images/logo_airforce.png) no-repeat;
    background-position: center;
}

#life-style-airforce{
    background:url(../project_images/life-style-airforce.jpg) no-repeat;
    background-position: center;
}

#ways-to-join-airforce{
    background:url(../project_images/ways-to-join-airforce.jpg) no-repeat;
    background-position: center;
}

#structure-airforce{
    background:url(../project_images/logo_airforce.png) no-repeat;
    background-position: center;
}

#army-logo span,#life-style-army span,#ways-to-join-army span,#structure-army span,#navy-logo span,#life-style-navy span,#ways-to-join-navy span,#structure-navy span,#airforce-logo span,#life-style-airforce span,#ways-to-join-airforce span,#structure-airforce span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    background-color:lightgoldenrodyellow; 
    color:black ;
    opacity: .8;
}

@media(max-width: 767px){
    #life-style-army,#ways-to-join-army,#structure-army,#life-style-navy,#ways-to-join-navy,#structure-navy,#life-style-airforce,#ways-to-join-airforce,#structure-airforce,#army-logo,#navy-logo,#airforce-logo{
        width:280px;
        margin: 0 auto 15px auto;
    }

    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;
    }

    .nav-brand{
        margin: 8.5px;
        display: inline-block;
    }
}

@media(max-width:767px){
    h1{
        font-size: 6vw;
    }

    #quote{
        margin: 10px 10px;
    }

    #heading1{
        margin-left: 5px;
        margin-right: 5px;
    }

    .navbar-toggle{
        margin-top: 10px;
    }
}
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 1.2em;
    background-color:rgb(115, 207, 22);
    color: lightgoldenrodyellow;
    border-top: 0;
}

#end-quote{
    font-size: 1.4em;
}

.social-menu ul{
position: absolute;
left: 50%;
padding: 0px;
margin-top: 0px;
text-align: center;
transform: translate(-50%,-50%);
display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover{
    color: #fff;
} 

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4 px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0,-10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color:#e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color:#3b5999;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color:#55acee;
}